Source: ros-kinetic-handeye
Section: misc
Priority: extra
Maintainer: Francisco Suarez-Ruiz <fsuarez6@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-rostest, ros-kinetic-std-msgs
Homepage: http://wiki.ros.org/handeye
Standards-Version: 3.9.2

Package: ros-kinetic-handeye
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-enum34, python-matplotlib, python-numpy, python-scipy, ros-kinetic-baldor, ros-kinetic-criutils, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-std-msgs
Description: The handeye package
